.score-section {
	flex: 1;
	border-radius: 24px;
	display: flex;
	flex-direction: column;
	align-items: center;

	background: linear-gradient(180deg, var(--light-slate-blue) 0%, var(--light-royal-blue) 100%);
	color: var(--primary-white);
}

@media (max-width: 376px) {
	.score-section {
		border-bottom-right-radius: 24px;
		border-bottom-left-radius: 24px;
		border-top-left-radius: 0px;
		border-top-right-radius: 0px;
	}
}

.score-result-heading {
	opacity: 0.8;
	flex: 1;
	font-weight: 400;
	padding-top: 10px;
}

.score-circle-out-of {
	width: 50%;
	aspect-ratio: 1/1;
	border-radius: 50%;
	background-color: #4729D6;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.score-value {
	font-size: 64px;
	font-weight: bold;
}

.score-max {
	opacity: 0.7;
}

.score-word {
	margin-bottom: 0;
}

.score-percentage-description {
	padding-left: 15%;
	padding-right: 15%;
	flex: 3;
	opacity: 0.7;
}